
body{

    font-family:Arial, Helvetica, sans-serif
}


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.navbar{
    background-color: #1A0B2E;
    display: flex;
    max-width: 1600px;
    align-items: center;
    margin:auto;
    justify-content: space-between;
    padding:auto;
    
}
.nav-left{
    
    font-size: 28px;
    font-weight: bold;
    color:white;
    flex:1; 
    margin-left: 200px;
}

.nav-center{
    
    flex:3;
    display:flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap:30px;
    margin-right: 5px;


    /* position:center; */
    
    

}

.nav-center a{
      text-decoration: none;
      color:#fff;
}

.nav-right a{
     
    text-decoration: none;

}




.nav-left span {
    
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
    display: inline-block;
}


.nav-right{
     flex:1;
     display:flex;
     justify-content: flex-end;
}
.nav-right span {
    max-width: 135px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    /* background-clip: text; */
    /* color: transparent; */
    display: inline-block;
    color:#fff;
    border:1px solid #fff;
    border-radius: 8px;
    padding:12.5px 40px 12.5px 16px;
    font-weight: 600;
    font-size:16px;
    margin-right:200px;
    margin-top:24px;
    margin-bottom: 24px;
}


#banner{
    width:100%;
    min-height: 100vh;
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    /* margin-bottom: 100%; */
    background-position: center;
    background-size: cover;

    /* display:flex;
    justify-content: center;
    align-items: center;
    color:#fff; */
    /* padding:60px 20px; */

}

#banner,
.container,
.header-container img{
    
       justify-items: center;
       align-items: center;

}

 .header-container{

    display:flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    /* padding-top: 50px;
    padding-left: 5px;
    padding-top: 110px; */
    margin-left: 10px;

} 

.wrap{

   width: 100%;;
   position: relative;
   display:inline-block;
   max-width:450px;
   height: auto;
   /* margin-bottom: 40px; */
   /* margin: 0 auto 40px; */
    
    margin-top:100px;
    margin-left:40px; 
    margin-right: 40px;
    margin-bottom: 100px; 

   



}

.circle-img{
    
    width:100%;
     /* max-width: 350px;  */
    height: auto;
     display:block; 
    /* margin-left: 40px; */
   
    

}

.mic-img{

    width:30%;
    max-width: 116px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:50%;
    height: auto;
     

}

.new-btn{
    position: absolute;
    top:17%;
    right:5%
}


.new-btn .bt{

    max-width: 75px;
    border:1px solid green;
    border-radius:16px;
    color:black;
    background: #00FF88;
    text-decoration: none;
    padding: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25),
        0 0 12px rgba(0, 255, 153, 0.8);

}


.button-container{
     display:flex;
     gap:20px;
     align-items: center;
     justify-content: center;
     justify-items: center;
     text-align: center;

}

.button-container .bn{

    max-width: 201px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    /* background-clip: text; */
    /* color: transparent; */
    display: inline-block;
    border:1px solid #fff;
    border-radius: 15px;
    color:#fff;
    padding:8px;
    font-weight: bold;
    text-align: center;
    align-items: center;
   
      
}


.button-container .bton{

    max-width: 201px;
    border:1px solid green;
    border-radius: 15px;
    color:green;
    padding:8px;
    font-weight: bold;
      
}

.button-container a{

    text-decoration: none;
}

.hp{

    padding-bottom: 24px;
}

.hp .hd{
     max-width: 550px;
     font-weight: bold;
     font-size: 60px;
     padding-bottom: 8px;
     color:white;
}

.hp .light-grey{
      color:#FFFFFF;
}

#text{

    max-width: 1600px;
    background-color: #1A0B2E;
}

#text .container-text .container-header{
      max-width: 1200px;
      text-align: center;
      margin:auto;
      padding-top: 50px;
      padding-bottom: 160px;
}

.container-header .hd{
      max-width: 1200px;
      font-weight: bold;
      color:#fff;
      font-size: 48px;
      padding-bottom: 16px;
      text-align: center;
}

.container-header .pt{
      
      
      color:#ffffff;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      padding-bottom: 80px;
      
      
}

.section-divider{

    max-width: 1200px;
    margin:40px auto;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    
}

.icon{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1200px;
    margin:auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:80px;
    padding-top: 80px;
    padding-bottom: 120px;
}

.icon .hd-icon{

    color:#00FF88;
}

.icon .hd{
     color:#fff;
     font-size: 16px;
}



@media (max-width: 576px){

    .nav-left{
        margin-left: 20px;
        font-size: 22px;
    }

    .nav-right span{
        margin-right: 20px;
        padding:10px 20px;
        font-size:14px;
    }

    .hp .hd{
        font-size: 36px;
        color:white;
        font-weight: bold;
    }

    .wrap{
        max-width: 460px;
    }

    .mic-img{
        width: 50%;
    }

    .button-container{
        flex-direction: column;
    }

    .icon{

        grid-template-columns: repeat(2,1fr);
        gap:40px;
    }
}


@media (min-width: 577px) and (max-width: 992px){
         .nav-left{
        margin-left: 20px;
        font-size: 22px;
    }

    .nav-right span{
        margin-right: 20px;
        padding:10px 20px;
        font-size:14px;
    }

    .hp .hd{
        font-size: 36px;
        color:white;
        font-weight: bold;
    }

    .wrap{
        max-width: 460px;
    }

    .mic-img{
        width: 50%;
    }

    .button-container{
        flex-direction: column;
    }

    .icon{

        grid-template-columns: repeat(4,1fr);
    }
}
       

