
body{

    font-family:Arial, Helvetica, sans-serif
}


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.navbar{
    background-color: #1A0B2E;
    display: flex;
    max-width: 1600px;
    align-items: center;
    margin:auto;
    justify-content: space-between;
    padding:auto;
    
}

.menu-icon{

    display:none;
}
.nav-left{
    
    font-size: 28px;
    font-weight: bold;
    color:white;
    flex:1; 
    margin-left: 200px;
}

.nav-center{
    
    flex:3;
    display:flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap:30px;
    margin-right: 5px;


    /* position:center; */
    
    

}

.nav-center a{
      text-decoration: none;
      color:#fff;
}

.nav-right a{
     
    text-decoration: none;

}




.nav-left span {
    
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
    display: inline-block;
}


.nav-right{
     flex:1;
     display:flex;
     justify-content: flex-end;
}
.nav-right span {
    max-width: 135px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    /* background-clip: text; */
    /* color: transparent; */
    display: inline-block;
    color:#fff;
    border:1px solid #fff;
    border-radius: 8px;
    padding:12.5px 40px 12.5px 16px;
    font-weight: 600;
    font-size:16px;
    margin-right:200px;
    margin-top:24px;
    margin-bottom: 24px;
}


#banner{
    width:100%;
    min-height: 100vh;
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    /* margin-bottom: 100%; */
    background-position: center;
    background-size: cover;

    /* display:flex;
    justify-content: center;
    align-items: center;
    color:#fff; */
    /* padding:60px 20px; */

}

#banner,
.container,
.header-container img{
    
       justify-items: center;
       align-items: center;

}

 .header-container{

    display:flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    /* padding-top: 50px;
    padding-left: 5px;
    padding-top: 110px; */
    margin-left: 10px;

} 

.wrap{

   width: 100%;;
   position: relative;
   display:inline-block;
   max-width:450px;
   height: auto;
   /* margin-bottom: 40px; */
   /* margin: 0 auto 40px; */
    
    margin-top:100px;
    margin-left:40px; 
    margin-right: 40px;
    margin-bottom: 100px; 

   



}

.circle-img{
    
    width:100%;
     /* max-width: 350px;  */
    height: auto;
     display:block; 
    /* margin-left: 40px; */
   
    

}

.mic-img{

    width:30%;
    max-width: 116px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:50%;
    height: auto;
     

}

.new-btn{
    position: absolute;
    top:17%;
    right:5%
}


.new-btn .bt{

    max-width: 75px;
    border:1px solid green;
    border-radius:16px;
    color:black;
    background: #00FF88;
    text-decoration: none;
    padding: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25),
        0 0 12px rgba(0, 255, 153, 0.8);

}


.button-container{
     display:flex;
     gap:20px;
     align-items: center;
     justify-content: center;
     justify-items: center;
     text-align: center;

}

.button-container .bn{

    max-width: 201px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    /* background-clip: text; */
    /* color: transparent; */
    display: inline-block;
    border:1px solid #fff;
    border-radius: 15px;
    color:#fff;
    padding:8px;
    font-weight: bold;
    text-align: center;
    align-items: center;
   
      
}


.button-container .bton{

    max-width: 201px;
    border:1px solid green;
    border-radius: 15px;
    color:green;
    padding:8px;
    font-weight: bold;
      
}

.button-container a{

    text-decoration: none;
}

.hp{

    padding-bottom: 24px;
}

.hp .hd{
     max-width: 550px;
     font-weight: bold;
     font-size: 60px;
     padding-bottom: 8px;
     color:white;
}

.hp .light-grey{
      color:#FFFFFF;
}

#text{

    max-width: 1600px;
    background-color: #1A0B2E;
}

#text .container-text .container-header{
      max-width: 1200px;
      text-align: center;
      margin:auto;
      padding-top: 50px;
      padding-bottom: 160px;
}

.container-header .hd{
      max-width: 1200px;
      font-weight: bold;
      color:#fff;
      font-size: 48px;
      padding-bottom: 16px;
      text-align: center;
}

.container-header .pt{
      
      
      color:#ffffff;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      padding-bottom: 80px;
      
      
}

.section-divider{

    max-width: 1200px;
    margin:40px auto;
    height: 1px;
    background: rgba(255, 255, 255, 0.1);
    
}

.icon{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1200px;
    margin:auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:80px;
    padding-top: 80px;
    padding-bottom: 120px;
}

.icon .hd-icon{
    max-width: 240px;
    color:#00FF88;
    padding-bottom: 16px;
}

.icon .hd{
     max-width: 240px;
     color:#fff;
     font-size: 16px;
}


#grid-layout{
     background-color: #230E3D;
     


}

#grid-layout .header-layout{
    color:#fff;
    text-align: center;
}

#grid-layout .header-layout .hl{
    color:#fff;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}


#grid-layout .box-layout {
     display: grid;
     grid-template-columns: 1fr 1.6fr; 
     gap: 24px;
     max-width: 1200px;
     margin: 0 auto;
     padding: 40px;
}

#grid-layout .box-layout .box {
     background-color: #2D144B; 
     border-radius: 24px;
     text-align: left;
     padding: 35px; 
}

.box .hlt{
    max-width: 300px;
    color:#fff;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 16px;
}

.box .plt{

    color:#ffffff;
    font-size: 16px;
}


.box:first-child {
     grid-row: span 2;
}


.box:nth-child(4) {
     grid-column: span 1.5; 
}


.box:nth-child(5) {
     grid-column: span 0.5;
}



#features_and_meet{

    background: #1A0B2E;
}


.Featured-Episodes{
    max-width: 1200px;
    text-align: center;
    margin:auto;
}

.ifrm{

     max-width: 100%;
     display:grid;
     grid-template-columns: repeat(3,1fr);
     gap:30px;
     
}

.ifrm .ifrm-card{
     max-width: 380px;
     background-color: #2D144B;
     border-radius: 24px;
     padding-bottom: 30px;
}


.ifrm .ifrm-card .hc{
     color:#fff;
     font-size: 20px;
     padding-bottom: 16px;
} 

.ifrm .ifrm-card .pc{
     color:#fff;
     font-size: 16px;
     padding-bottom: 16px;
} 




.time-wrapper{

    display:flex;
    align-items: center;
    gap:8px;
    margin-top: 15px;
}

.time-wrapper img{

    width:18px;
    height: 18px;
    margin-left: 8px;
}

.time-wrapper .pt{

    margin: 0;
    color: #b3b3b3;
    font-size: 14px;
   
}

.hfe{

    padding-top: 120px;
    padding-bottom: 10px;
    color:#fff;
}


.Meet-the-host .header-host{

    color:#fff;
    font-weight: bold;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
}

.box-host{

    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin:0 auto;
    text-align: left;
    align-items: center;
    background-color: #2D144B;
    padding:40px;
    border-radius: 24px;
    

}

.hps{

    margin-left:2px;
}


.imge img {
    width: 100%;
    max-width: 300px; 
    border-radius: 50%; 
}

.hps {
    color: white;
}

.Mth {
    font-size: 32px;
    margin-bottom: 16px;
    color: white;
}

.pmth {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff;
}


.box-host .imge {
   
    max-width: 350px; 
    width: 100%;
    
    padding-left: 0; 
    padding-right: 30px; 
    display: flex;
    justify-content: center;
}

.box-host .imge img {
   
    width: 100%;
    height: auto;
    border-radius: 50%; 
    object-fit: cover;
}
.social-icons {
    display: flex;
    gap: 15px; 
    margin-top: 25px; 
}


.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    border-radius: 50%; 
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.05); 
}


.social-icons a:hover {
    border-color: #FB09B4;
    transform: translateY(-3px);
}


.social-icons img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


.box-host {
    max-width: 1200px;
    display: flex; 
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    background-color: #2D144B;
    padding: 40px;
    border-radius: 24px;
}



.footer-section {
    background-color: #1A0B2E; /* আপনার থিমের সাথে মিল রেখে ব্যাকগ্রাউন্ড কালার */
    background-image: url('./assets/footer-bg.png'); /* যদি ওয়েভ ব্যাকগ্রাউন্ড ইমেজ থাকে */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 20px;
    text-align: center;
    color: white;
}


.footer-logo {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.footer-logo span {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #00FF88; 
}

.footer-links img {
    width: 20px; 
    height: 20px;
}


.copyright {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
}




@media (max-width: 576px){

    .navbar {
        padding: 15px 20px;
    }

    
    .menu-icon {
        display: block;
        order: 2; 
    }

    
    .nav-left {
        order: 1;
        margin-left: 0;
    }

    
    .nav-center, .nav-right {
        display: none;
    }

    .nav-left{
        margin-left: 20px;
        font-size: 22px;
    }

    .nav-right span{
        margin-right: 20px;
        padding:10px 20px;
        font-size:14px;
    }

    .hp .hd{
        font-size: 36px;
        color:white;
        font-weight: bold;
    }

    .wrap{

   width: 100%;;
   position: relative;
   display:inline-block;
   max-width:350px;
   height: auto;
   /* margin-bottom: 40px; */
   /* margin: 0 auto 40px; */
    
    margin-top:100px;
    margin-left:40px; 
    margin-right: 40px;
    margin-bottom: 100px; 

   



}

    .mic-img{
        width: 50%;
    }

    .button-container{
        flex-direction: column;
    }

    .icon{

        grid-template-columns: repeat(2,1fr);
        gap:40px;
    }

    .icon .hd-icon{
    
    max-width: 180px;
    color:#00FF88;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.icon .hd{
     max-width: 180px;
     color:#fff;
     font-size: 16px;
}


#grid-layout .box-layout {
        grid-template-columns: 1fr; 
        padding: 20px;
        gap: 16px;
    }

  #features_and_meet .ifrm{

      grid-template-columns: 1fr;
      padding:20px;
      gap:16px;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
  }


  .box-host {
        grid-template-columns: 1fr; 
        text-align: center; 
    }
    
    .imge img {
        margin-bottom: 20px;
    }

    .box-host {
        flex-direction: column;
        text-align: center;
    }
    .social-icons {
        justify-content: center;
    }


    .footer-links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }



    


}








@media (min-width: 577px) and (max-width: 992px){
         .nav-left{
        margin-left: 20px;
        font-size: 22px;
    }

    .nav-right span{
        margin-right: 20px;
        padding:10px 20px;
        font-size:14px;
    }

    .hp .hd{
        font-size: 36px;
        color:white;
        font-weight: bold;
    }

    .wrap{
        max-width: 460px;
    }

    .mic-img{
        width: 50%;
    }

    .button-container{
        flex-direction: column;
    }

    .icon{

        grid-template-columns: repeat(4,1fr);
    }


    #grid-layout .box-layout {
        grid-template-columns: 2fr; 
        padding: 20px;
        gap: 16px;
    }

  #features_and_meet .ifrm{

      grid-template-columns: 3fr;
      padding:20px;
      gap:16px;
      align-items: center;
      justify-content: center;
      justify-items: center;
      text-align: center;
  }

  .box-host {
        grid-template-columns: 2fr; 
        text-align: center; 
    }
    
    .imge img {
        margin-bottom: 20px;
    }

    .box-host {
        grid-template-columns: 2fr; 
        text-align: center; 
    }
    
    .imge img {
        margin-bottom: 20px;
    }

    .box-host {
        flex-direction: column;
        text-align: center;
    }
    .social-icons {
        justify-content: center;
    }


}
       

