
body{

    font-family:Arial, Helvetica, sans-serif
}


*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.navbar{
    background-color: #1A0B2E;
    display: flex;
    max-width: 1600px;
    align-items: center;
    margin:auto;
    justify-content: space-between;
    padding:auto;
    
}
.nav-left{
    
    font-size: 28px;
    font-weight: bold;
    color:white;
    flex:1; 
    margin-left: 200px;
}

.nav-center{
    
    flex:3;
    display:flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap:30px;
    margin-right: 5px;


    /* position:center; */
    
    

}

.nav-center a{
      text-decoration: none;
      color:#fff;
}

.nav-right a{
     
    text-decoration: none;

}




.nav-left span {
    
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
    display: inline-block;
}


.nav-right{
     flex:1;
     display:flex;
     justify-content: flex-end;
}
.nav-right span {
    max-width: 135px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    /* background-clip: text; */
    /* color: transparent; */
    display: inline-block;
    color:#fff;
    border:1px solid #fff;
    border-radius: 8px;
    padding:12.5px 40px 12.5px 16px;
    font-weight: 600;
    font-size:16px;
    margin-right:200px;
    margin-top:24px;
    margin-bottom: 24px;
}


#banner{
    width:100%;
    min-height: 100vh;
    max-width: 1600px;
    background: url(./assets/hero-bg.png);
    /* margin-bottom: 100%; */

    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    /* padding:60px 20px; */

}

#banner,
.container,
.header-container img{
    
       justify-items: center;
       align-items: center;

}

 .header-container{

    display:flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    /* padding-top: 50px;
    padding-left: 5px;
    padding-top: 110px; */
    margin-left: 10px;

} 

.wrap{

   position: relative;
   display:inline-block;
   width:450px;
   height: 350px;
   margin-bottom: 40px;
   margin-left:70px;



}

.circle-img{
    
    max-width: 350px;
    width:100%;
    height: auto;
    /* margin-left: 40px; */
   
    

}

.mic-img{

    max-width: 116px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:50%;
    height: auto;
     

}


.button-container{
     display:flex;
     gap:20px;
     align-items: center;
     justify-content: center;
     justify-items: center;
     text-align: center;

}

.button-container .bn{

    max-width: 201px;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    /* background-clip: text; */
    /* color: transparent; */
    display: inline-block;
    border:1px solid #fff;
    border-radius: 15px;
    color:#fff;
    padding:8px;
    font-weight: bold;
      
}


.button-container .bton{

    max-width: 201px;
    border:1px solid green;
    border-radius: 15px;
    color:green;
    padding:8px;
    font-weight: bold;
      
}

.button-container a{

    text-decoration: none;
}